<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNrbqWxCRLPDM5d_vyxEGsBmWJU8yrl4c</string>
	<key>GCM_SENDER_ID</key>
	<string>113268572534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kybeen.UIKitCodebase</string>
	<key>PROJECT_ID</key>
	<string>signinwithappletest-c0a69</string>
	<key>STORAGE_BUCKET</key>
	<string>signinwithappletest-c0a69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113268572534:ios:46eaa4ac351feb52bd3a57</string>
	<key>DATABASE_URL</key>
	<string>https://signinwithappletest-c0a69-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>